// pages/index.scss

@import "../styles/variables.scss";

.logo {
  padding: 30 * $size 10 * $size;
  text-align: center;

  image {
    width: 80 * $size;
    height: 80 * $size;
    border-radius: 100%;
  }
}

.sys-info {
  padding: 10 * $size;
  word-break: break-all;
}