// pages/index.scss

@import "../styles/variables.scss";

.logo {
  padding: 30 * $size 10 * $size;
  text-align: center;

  image {
    width: 80 * $size;
    height: 80 * $size;
    border-radius: 100%;
  }
}

.sys-info {
  padding: 10 * $size;
  word-break: break-all;
}
.scroll-view {
  display: flex;
  flex-wrap: nowrap;

  .scroll-item {
    padding: 20 * $size 0;
    text-align: center;
    white-space: nowrap;
    flex: 1 0 20%;
  }
  .scroll-active {
    color: $base-color;
  }
}

.scroll-indicator {
  position: relative;
  bottom: 10 * $size;
  left: 50%;
  z-index: 10;
  display: block;
  width: 60 * $size;
  height: 2 * $size;
  margin-left: -30 * $size;
  background-color: rgba($black-color, 0.18);
  border-radius: 6 * $size;

  .scroll-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 11;
    width: 30 * $size;
    background-color: $base-color;
    border-radius: 6 * $size;
  }
}