// styles/modules/input.scss

.input {
  display: block;
  width: 100%;
  padding: $size * 7 $size * 10;
  font-size: $size * 14;
  line-height: $size * 22;
  color: $font-color;
  background-color: $white-color;
  background-clip: padding-box;
  border: $size * 1 solid $border-color;
  border-radius: $size * 2;
  transition: border-color 150ms ease-in-out, box-shadow 180ms ease-in-out;

  &:hover {
    border-color: rgba($border-color, .8);
  }

  &:focus {
    border-color: $base-color;
    outline: 0;
    box-shadow: 0 0 0 $size *3 rgba($base-color, .38);
  }

  &:disabled {
    color: $disable-color;
    background-color: $bg-color;
    cursor: not-allowed;
  }
}

textarea {
  &.input {
    display: block;
    width: 100%;
    min-height: $size * 120;
    resize: none;
  }
}
